body{
  background: rgb(57, 55, 55);
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.upper-container{
  height: 50%;
  width: 100%;
}
.lower-container{
  height: 50%;
  width: 100%;
}
header{
  display: inline-block;
}
.movies-heading{
  font-size: 3rem;
  margin-left: 40px;
}
.searchbar{
  position: absolute;
  top: 0;
  right: 100px;
  margin: 20px 20px 0 0;
}
input{
  height: 30px;
  width: 250px;
}